<%= javascript_include_tag "jquery-1.4.2" %> 
<%= javascript_include_tag "jquery.tablesorter.js" %> 
<%= stylesheet_link_tag "style_table_sorter.css" %>

<div id="horas">
  <% @semanas.each do |chave,semana| %>
      <h1><%= chave %></h1>
    <table cellpadding="0" cellspacing="0" border="0"  class="tablesorter">
        <thead>   
            <tr>
                <th>Dia</th>
                <th>CheckIn</th>
                <th>ChekOut</th>
                <th>Total periodo</th>
                <th>Total dia</th>
              <tr>
              </thead>
            <tbody>    
              <% semana[:periodos].each do |chave_dias,dias| %>
                <% dias.each_with_index do |dia,i| %>
                  <tr id="intervalo">
                    <% if i == 0 %>
                      <td id="dia" rowspan="<%= dias.size %>" ><%= dia.date.to_date %></td>
                    <% end %>
                    <td id="checkin"><%= dia.checkin.strftime(fmt='%T') %></td>
                    <td id="checkout"><%= dia.checkout.strftime(fmt='%T') %></td>
                     <td id="total"><span id="total_hora"><%= dia.total_horas %></span></td>
                    <% if i == 0 %>
                      <td id="total_dia" rowspan="<%= dias.size %>"><%= @totais_de_horas_no_dia[dia.date.to_date] %></td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
     </table>
   <% end %>
 </div>
